# Byte-compiled / optimized / compiled files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.eggs/

# Distribution / packaging
dist/
build/
*.egg

# Virtual environment
venv/
.venv/
env/
.env/

# Editor-specific files
.vscode/
.idea/
*.swp
*.bak
*~

# Operating System files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3

# Test and coverage files
.coverage
htmlcov/

# Environment variables
.env